@import "leaflet";
@import "navbar";
@import "slider";

$red: #e11f26;

#canvasSignature {
	display: block;
	border: 1px solid rgb(126, 126, 126);
}

#app-container {
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	
	#map {
		width: 65%;
		height: 100%;
	}
	
	#reservation-card {
		height: 100%;
		width: 35%;
	}
}

#reservation-card {
	form { display: block; }
	
	&.card {
		border-top: none;
		.card-header {
			border: none;
			border-radius: 0;
			background-color: $red;
			color: #fff;
		}
		.card-body {
			padding: 30px 50px;
		}
	}
	
	#station-detail {
		display: block;
		
	}
}

@media all and (max-width: 768px) {
	#slider .slide .slider-content {
		left: 50%;
		width: 90%;
		height: 75%;

		img {
			max-height: 160px;
			object-fit: contain;
		}
	}

	#app-container {
	
		flex-direction: column;

		#map {
			height: 350px;
		}

		#reservation-card {
			height: 630px;
		}

		#map, #reservation-card {
			width: 100%;
			display: block;
		}
	}	
}


@media all and (max-width: 630px) { 
	#slider .slide .slider-content {
		left: 50px;
		right: 50px;
		width: auto;
		transform: translate(0, -50%);
	}
}