.marker-cluster-small {
	background-color: rgba(41, 128, 185, 0.6);
	
	div {background-color: rgba(41, 128, 185, 0.6);}
}

.marker-cluster-medium {
	background-color: rgba(39, 174, 96, 0.6);
	
	div {background-color: rgba(39, 174, 96, 0.6);}
}

.marker-cluster-large {
	background-color: rgba(192, 57, 43, 0.6);
	
	div {background-color: rgba(192, 57, 43, 0.6);}
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(46, 204, 113);
	
	div { background-color: rgb(39, 174, 96); }
}


.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(52, 152, 219);
	
	div { background-color: rgb(41, 128, 185); }
}


.leaflet-oldie .marker-cluster-large {
	background-color: rgb(231, 76, 60);
	
	div { background-color: rgb(192, 57, 43); }
}


.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	
	div {
		width: 30px;
		height: 30px;
		margin-left: 5px;
		margin-top: 5px;
		text-align: center;
		border-radius: 15px;
		font-family: 'Open Sans', Verdana, sans-serif;
	}
	span {
		line-height: 30px;
	}
}


#map , #reservation-card {
	width: 100%;
	min-height: 550px;
}


#reservation-card {
	form {
		display: block;
	}
	
	#station-detail {
		display: block;
	}
}

#canvasSignature {
	display: block;
	border: 1px solid rgb(126, 126, 126);
}

#slider {
	min-width: 100%;
	width: auto;
	height: 700px;
	overflow: hidden;
	
	position: relative;

	img {
		height: 700px;
		object-fit: contain;
	}
	
	.prev-slide, .next-slide {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		line-height: 45px;
		color: #fff;
		background-color: rgba(0, 0, 0, .4);
		height: 45px;
		width: 45px;

		transition: background-color .3s;

		&:hover { background-color: rgba(0, 0, 0, .5); }
		&:active { background-color: rgba(0, 0, 0, .35); }
	}
	
	.prev-slide {
		left: 0;
	}
	
	.next-slide {
		right: 0;
	}
	
	.slide {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		position: absolute;
		
		&.visible {
			opacity: 1;
			transition: opacity .5s linear;
		}
		
		&:not(.visible) {
			opacity: 0;
			transition: opacity .5s linear;
		}
		
		.slider-content {
			position: absolute;

			max-width: 30%;
			height: auto;
			
			top: 50%;
			left: 15%;
			
			transform: translateY(-50%);

			background-color: rgba(0, 0, 0, .4);
			padding: 15px 30px;

			color: #fff;

			h3 {}
			p {}
		}
	}
	
}