@import "leaflet";
@import "navbar";
@import "slider";

$red: #e11f26;

#canvasSignature {
	display: block;
	border: 1px solid rgb(126, 126, 126);
}

#app-container {
	
	display: flex;
	flex-direction: row;
	
	#map {
		width: 65%;
		height: 650px;
	}
	
	#reservation-card {
		width: 35%;
	}
}

#reservation-card {
	form { display: block; }
	
	&.card {
		border-top: none;
		.card-header {
			border: none;
			border-radius: 0;
			background-color: $red;
			color: #fff;
		}
		.card-body {
			padding: 30px 50px;
		}
	}
	
	#station-detail {
		display: block;
		
	}
}